################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/API试接入/obj/Debug
*.lock
posture_recognition/.vs/posture_recognition/v15/Server/sqlite3/db.lock
.idea/
